.toDoul {
  padding: 20px;
}

.toDoli {
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  list-style: none;
}

li {
  padding-right: 10px;
}

span {
  font-size: 20px;
  font-weight: 300;
}

.addPost,
.addPut {
  text-decoration: underline 2px solid black;
  margin-top: 50px;
  margin: 20px;
  color: black;
}

form {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
}

form label {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
}

input {
  font-size: 1.2rem;
  width: 200px;
  padding: 10px;
  margin: 10px;
  outline: none;
  border: 1px solid black;
}

button {
  display: inline-block;
  padding: 7px 10px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.delete {
  display: inline;
  margin-left: 10px;
}

.noTodos {
  font-size: 2rem;
  padding-left: 0;
}
